/* HTML STRUCTURE */
/* Step -1 - parentContainer */
/* step -2 - component */
/* step -3 - componentContainer */
/* step -4 - row */
/* step -5 - column */
/* step -6 - subColumn */
/* step -7 - contentContainer */
/* step -8 - content */

/* parent Container - default css style */


/* step -2 - component */
.navBar {
    /* background-color: rgb(255, 255, 255);   */
      background-color: var(--lightColor);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 999;
   
}

/* step -3 - componentContainer */
.navBarContainer {
    /* background-color: rgb(255, 255, 255); */

}

/* step -4 - row */
.navBarBody {
    /* background-color: rgb(255, 255, 255); */

}

/* step -5 - column */
.logoBlock {
    /* background-color: #ffffff; */
   
}

.linkBlock {
    /* background-color: #ffffff; */

}

/* step -6 - subColumn */
.logoBox {
    /* background-color: #e22323; */
    width: 100%;
    
}

.linkBox {
    /* background-color: #dd7e7e; */
    width: 100%;
   
}


/* step -7 - contentContainer */
.logoBox img {
    width: 100px;
    height: auto;
    margin-left: 2rem;
    border-radius: 2rem;
}

.navlinks{
    display: flex;
    justify-content: space-between;
 
}

.navlinks li a {
    font-family: var(--ffSecondary);
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primaryColor);
    transition: color 0.3s ease-in-out;
    padding: 0.5rem;
       margin-right: 10rem;
}

.navlinks li a:hover {
    color: var(--secondaryColor);
    border-bottom: 2px solid var(--secondaryColor);
}

.menu-toggle {
    display: none; /* hidden by default */
}